{% load static %}
<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="{% static '/css/historysharon.css' %}">
<head>
	<title>historysharon</title>
</head>
<body id="bg" style="background-image: url('{% static "images/sharon1.jpg" %}' );">
<h2>Where It All began</h2>	
<p>
	SharonKenya started as a campus hobby. <br>The company's CEO did not realize it by then,<br>
	but her way of naturally looking good <br>even without trying caught his friends'
	attention. 
</p>
<p>She would dress contestants of Mr and Miss University and all the judges <br>
	gave a lot of credit to her work. Her comments and suggestions on how a 
	<br>person ought to have
	chosen an outfit automatically and this was the time her
    <br>friend started considering styling as her talent.
</p>
<p>
	Later on  while in campus, a feeling of being<br> trapped in the wrong course hung around her<br>
	and would simply not go away. She was torn between <br>quitting her Buchelor's degree in Business Information 
</p>
<p> Technology and signing up for a more fulfilling course. <br>She felt like a designer course was more appropriate for<br> her. However, she brushed the thought off and pursued her BBIT degree.<br>
	Upon graduation, it was as if chains had been lifted off her shoulders 
	<br>and that is when she registered her company.
</p>
</body>
</html>