{% load static %}
<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="{% static '/css/sharondesigners.css' %}">
<head>
	<title>sharondesigners</title>
</head>
<body>
	<div class="title-box">
		<h1>Irresistible Creative Designs</h1>
	</div>
	<div class="slideshow">
		<div class="content">
			<figure><img src="{% static '/images/dateoutfit1.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer2.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer3.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer4.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer5.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer6.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer7.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer8.jpg' %}"></figure>
			<figure><img src="{% static '/images/designer9.jpg' %}"></figure>
		</div>
	</div>
</body>
</html>