{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static '/css/sharonstylists.css' %}">
<head>
	<title>sharonstylists</title>
</head>
<body>
	<div class="title-box">
		<h1>Esteem Boosting Combinations</h1>
	</div>
	
	<div class="slideshow">
		<div class="content">
			<figure><img src="{% static '/images/fulloutman.jpg' %}"></figure>
			<figure><img src="{% static '/images/jordan1.jpg' %}"></figure>
			<figure><img src="{% static '/images/loveandhappy.jpg' %}"></figure>
			<figure><img src="{% static '/images/menstyle1.jpg' %}"></figure>
			<figure><img src="{% static '/images/menstyle3.jpg' %}"></figure>
			<figure><img src="{% static '/images/nikewear.jpg' %}"></figure>
			<figure><img src="{% static '/images/pumawear.jpg' %}"></figure>
			<figure><img src="{% static '/images/smallboy.jpg' %}"></figure>
			<figure><img src="{% static '/images/suit1.jpg' %}"></figure>
		</div>
	</div>
	
</body>
</html>